//######################################################################
//##    SETTINGS
//######################################################################

@page_width: 960px;
@footer_height: 150px;
@header_height: 150px;
