<article id="home">
<header>
    <h2>Welcome Home</h2>
</header>

<figure id="developer">
  <img src="/images/me-300.jpg" alt="Few years ago when i was in Izmir">
  <figcaption>Few years ago when i was in Izmir.</figcaption>
</figure>

<p>Hi <%= current_user %>,</p>
<p>I am Andaç and I develop <%= link_to "Ruby on Rails", "http://rubyonrails.org" %> applications.</p>
<p>I live in Istanbul, Turkey. So my time zone is GMT+2. I'd like to work in serenity of nighttime like all other crazy code people.</p>
<p>I believe i'm good at
<ul>
<li>Unix Linux variants <i>(specially *buntu family)</i></li>
<li>Ruby on Rails</li>
<li>System analys & design</li>
<li>Database design</li>
<li>Data analyses & OLAP</li>
<li>Project Planning & Management</li>
<li>Go (Weiqi)</li>
<li>World of Warcraft <i>(specially as warlock)</i></li>
</ul>
</p>

</article>
