<article id="welcome">
<header>
    <h2>Welcome to Sounds Application</h2>
</header>

<p>This is a demo application to show how to store and playback sound files.</p><br />
<p>You can acces codes of this application in github repo:</p>
<p><%= link_to "http://github.com/airy/Sounds-Demo", "http://github.com/airy/Sounds-Demo" %></p><br />
<p>It's MIT licensed, so feel free to fork it!</p>

</article>
