<article id="welcome">
<header>
    <h2>Welcome to Sounds Application</h2>
</header>

<p>This is just a demo application. I made this for Bill to display my skills. I used these softwares, gems & plugins to build this application:
    <ul>
        <li>Kubuntu Lucid</li>
        <li>Firefox 3.6.3</li>
        <li>Geany 0.18</li>
        <li>Ruby on Rails 3.0.0.beta4</li>
        <li>sqlite database</li>
        <li>Devise</li>
        <li>Inherited Resources</li>
        <li>Paperclip</li>
        <li>Sentient User</li>
        <li>Less</li>
        <li>Jquery</li>
        <li>Rails-ujs</li>
        <li>git-scm</li>
    </ul>
</p>
<p>I develop this application within 24 hours from scratch and skipped writing tests (<%= link_to "XP", "http://en.wikipedia.org/wiki/Extreme_programming", :target => :blank %>? I guess so...).</p>
<p>Also some functionality might be absent.</p>

</article>
