<article id="welcome">
<header>
    <h2>Welcome to Sounds Application</h2>
</header>

<p>This is just a demo application to show how to store and playback sound files.</p>
<p>You can acces codes of this application in github: http://github.com/airy/Sounds-Demo </p>
<p>It's MIT licensed, so feel free to fork</p>

</article>
