<header><h2>Listing sounds</h2></header>

<% @sounds.each do |sound| %>
  <%= content_tag_for :article, sound do %>
    <header>
        <h3><%= link_to sound.name, sound %></h3>
    </header>
  <% end %>
<% end %>
<br />

<%= link_to 'New Sound', new_sound_path %>
